<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optho-App</title>
    <link rel="icon" type="image/x-icon" href="/assests/favi.ico">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/styles/tailstyle.css">

</head>

<body class="h-screen bg-blue-300 xl:overflow-hidden ">
    <div class="flex flex-col h-full w-full  ">
        <div class="title w-full h-fit flex items-center gap-5 pl-5">
            <div class="head flex items-center stroke-blue-950 w-fit space-x-2">
                <?xml version="1.0" ?><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M7 6C7 3.23858 9.23858 1 12 1C14.7614 1 17 3.23858 17 6C17 8.76142 14.7614 11 12 11C9.23858 11 7 8.76142 7 6ZM12 3C10.3431 3 9 4.34315 9 6C9 7.65685 10.3431 9 12 9C13.6569 9 15 7.65685 15 6C15 4.34315 13.6569 3 12 3Z" fill="black"/><path d="M4.06189 21C4.55399 17.0537 7.92038 14 12 14C13.1643 14 14.268 14.2481 15.2633 14.6934L16.1761 15.1018L16.9929 13.2762L16.0801 12.8678C14.8329 12.3098 13.4513 12 12 12C6.47715 12 2 16.4772 2 22V23H14.3542V21H4.06189Z" fill="black"/><path d="M20 15V18H23V20H20V23H18V20H15V18H18V15H20Z" fill="black"/></svg>

                <h1 class="text-4xl font-semibold pb-2">Add Patient</h1>
            </div>
        </div>
        <form action="/addPat" method="post" class="bg-white/50 backdrop-blur-xl p-4 rounded-lg  ">
            <div class="flex-1 w-full xl:min-h-0  grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-6 ">
                <!-- Patient Information -->
                <div
                    class="bg-white rounded-lg shadow p-4 space-y-4 xl:min-h-0 xl:col-span-1 
                    h-[calc(100vh-160px)] xl:h-[calc(100vh-80px)] overflow-y-auto shadow-xl">
                    <h2 class="text-2xl font-bold text-gray-800">Patient Information</h2>

                    <div class="space-y-4">
                        <div>
                            <label class="block text-sm font-semibold mb-2">Name:</label>
                            <input class="w-full px-3 py-2 border rounded-md" placeholder="Name" type="text" name="name"
                                required autofocus />
                        </div>

                        <div>
                            <label class="block text-sm font-semibold mb-2">Registration Number</label>
                            <input class="w-full px-3 py-2 border rounded-md" type="text" name="reg"
                                placeholder="Registration Number" value="<%= reg %>" required />
                        </div>

                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                            <div>
                                <label class="block text-sm font-semibold mb-2">Age:</label>
                                <input class="w-full px-3 py-2 border rounded-md" placeholder="Age" type="text"
                                    name="age" />
                            </div>
                            <div>
                                <label class="block text-sm font-semibold mb-2">Sex:</label>
                                <div class="flex gap-4">
                                    <label class="inline-flex items-center">
                                        <input type="radio" name="sex" value="Male" class="mr-2" checked />
                                        Male
                                    </label>
                                    <label class="inline-flex items-center">
                                        <input type="radio" name="sex" value="Female" class="mr-2" />
                                        Female
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div>
                            <label class="block text-sm font-semibold mb-2">Contact No. :</label>
                            <input class="w-full px-3 py-2 border rounded-md" placeholder="Contact No. " type="tel"
                                name="contact" required />
                        </div>

                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                            <div>
                                <label class="block text-sm font-semibold mb-2">Beneficiary:</label>
                                <select class="w-full px-3 py-2 border rounded-md" name="beneficiary">
                                    <option value="Employee">Employee</option>
                                    <option value="Retired Employee">Retired Employee</option>
                                    <option value="Family">Family</option>
                                </select>
                            </div>
                            <div>
                                <label class="block text-sm font-semibold mb-2">Type of Diabetes:</label>
                                <select class="w-full px-3 py-2 border rounded-md" name="dtype">
                                    <option value="Type 1">Type 1</option>
                                    <option value="Type 2">Type 2</option>
                                    <option value="MODY">MODY</option>
                                </select>
                            </div>
                        </div>

                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                            <div>
                                <label class="block text-sm font-semibold mb-2">Diabetes Duration:</label>
                                <select class="w-full px-3 py-2 border rounded-md" name="ddur">
                                    <option value="Newly diagnosed">Newly diagnosed (&lt;1 year)</option>
                                    <option value="Less than 5 years">Less than 5 years</option>
                                    <option value="5-10 years">Between 5-10 years</option>
                                    <option value="More than 10 years">More than 10 years</option>
                                </select>
                            </div>
                            <div>
                                <label class="block text-sm font-semibold mb-2">Insulin:</label>
                                <div class="flex gap-4">
                                    <label class="inline-flex items-center">
                                        <input type="radio" name="insulin" value="Yes" class="mr-2" checked />
                                        Yes
                                    </label>
                                    <label class="inline-flex items-center">
                                        <input type="radio" name="insulin" value="No" class="mr-2" />
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                            <div>
                                <label class="block text-sm font-semibold mb-2">No. of OHA:</label>
                                <input class="w-full px-3 py-2 border rounded-md" placeholder="No. of OHA" type="text"
                                    name="oha" />
                            </div>
                            <div>
                                <label class="block text-sm font-semibold mb-2">HbA1c (%):</label>
                                <input class="w-full px-3 py-2 border rounded-md" placeholder="HbA1c" type="text"
                                    name="HBA1c" />
                            </div>
                        </div>
                        <div>
                            <label class="block text-sm font-semibold mb-2">Treatment Obtained:</label>
                            <div class="space-y-2">
                                <!-- None -->
                                <label class="flex items-center">
                                    <input type="checkbox" name="treatment[]" value="None" class="mr-2" />
                                    None
                                </label>
                                <div id="noneDate" class="hidden ml-6">
                                    <label class="block text-sm font-semibold mb-2">Date:</label>
                                    <input class="w-full px-3 py-2 border rounded-md" type="date" name="none_date" />
                                </div>

                                <!-- Intravitreal Injection -->
                                <label class="flex items-center">
                                    <input type="checkbox" name="treatment[]" value="Intravitreal injection"
                                        class="mr-2" onchange="toggleInputs('injectionInputs', this)" />
                                    Intravitreal Injection
                                </label>
                                <div id="injectionInputs" class="hidden ml-6 space-y-2">
                                    <label class="block text-sm font-semibold">Date:</label>
                                    <input class="w-full px-3 py-2 border rounded-md" type="date" name="injection_date" />
                                    <label class="block text-sm font-semibold">Specify:</label>
                                    <input class="w-full px-3 py-2 border rounded-md" type="text" placeholder="Please specify" name="injection_spec"/>
                                </div>

                                <!-- PRP -->
                                <label class="flex items-center">
                                    <input type="checkbox" name="treatment[]" value="PRP" class="mr-2"
                                        onchange="toggleInputs('prpInputs', this)" />
                                    PRP
                                </label>
                                <div id="prpInputs" class="hidden ml-6 space-y-2">
                                    <label class="block text-sm font-semibold">Date:</label>
                                    <input class="w-full px-3 py-2 border rounded-md" type="date" name="prp_date" />
                                    <label class="block text-sm font-semibold">Specify:</label>
                                    <input class="w-full px-3 py-2 border rounded-md" type="text" placeholder="Please specify" name="prp_spec"/>
                                </div>
                                
                                

                                <!-- Retinal Surgery -->
                                <label class="flex items-center">
                                    <input type="checkbox" name="treatment[]" value="Retinal surgery" class="mr-2"
                                        onchange="toggleInputs('surgeryInputs', this)" />
                                    Retinal Surgery
                                </label>
                                <div id="surgeryInputs" class="hidden ml-6 space-y-2">
                                    <label class="block text-sm font-semibold">Date:</label>
                                    <input class="w-full px-3 py-2 border rounded-md" type="date" name="surgery_date" />
                                    <label class="block text-sm font-semibold">Specify:</label>
                                    <input class="w-full px-3 py-2 border rounded-md" type="text" placeholder="Please specify" name="retinal_spec"/>
                                </div> 
                                
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Clinical Findings -->
                <div class="bg-white rounded-lg shadow p-4 space-y-4">
                    <h2 class="text-2xl font-bold text-gray-800">Clinical Findings</h2>

                    <div class="space-y-4">
                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                            <div>
                                <label class="block text-sm font-semibold mb-2">BCVA Left Eye:</label>
                                <select class="w-full px-3 py-2 border rounded-md" name="bcval">
                                    <option>6/6</option>
                                    <option>6/9</option>
                                    <option>6/12</option>
                                    <option>6/18</option>
                                    <option>6/24</option>
                                    <option>6/36</option>
                                    <option>6/60</option>
                                    <option>5/60</option>
                                    <option>4/60</option>
                                    <option>3/60</option>
                                    <option>2/60</option>
                                    <option>1/60</option>
                                    <option>PL+</option>
                                    <option>PL-</option>
                                </select>
                            </div>
                            <div>
                                <label class="block text-sm font-semibold mb-2">BCVA Right Eye:</label>
                                <select class="w-full px-3 py-2 border rounded-md" name="bcvar">
                                    <option>6/6</option>
                                    <option>6/9</option>
                                    <option>6/12</option>
                                    <option>6/18</option>
                                    <option>6/24</option>
                                    <option>6/36</option>
                                    <option>6/60</option>
                                    <option>5/60</option>
                                    <option>4/60</option>
                                    <option>3/60</option>
                                    <option>2/60</option>
                                    <option>1/60</option>
                                    <option>PL+</option>
                                    <option>PL-</option>
                                </select>
                            </div>
                        </div>

                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                            <div>
                                <label class="block text-sm font-semibold mb-2">IOP Left Eye (mmHg):</label>
                                <input class="w-full px-3 py-2 border rounded-md" placeholder="Enter IOP" type="text"
                                    name="iopl" />
                            </div>
                            <div>
                                <label class="block text-sm font-semibold mb-2">IOP Right Eye (mmHg):</label>
                                <input class="w-full px-3 py-2 border rounded-md" placeholder="Enter IOP" type="text"
                                    name="iopr" />
                            </div>
                        </div>

                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                            <div>
                                <label class="block text-sm font-semibold mb-2">DR Left Eye:</label>
                                <select class="w-full px-3 py-2 border rounded-md" name="drl">
                                    <option>No DR at present</option>
                                    <option>Mild NPDR</option>
                                    <option>Moderate NPDR</option>
                                    <option>Severe NPDR</option>
                                    <option>Very severe NPDR</option>
                                    <option>PDR without HRC</option>
                                    <option>PDR with HRC</option>
                                </select>
                            </div>
                            <div>
                                <label class="block text-sm font-semibold mb-2">DR Right Eye:</label>
                                <select class="w-full px-3 py-2 border rounded-md" name="drr">
                                    <option>No DR at present</option>
                                    <option>Mild NPDR</option>
                                    <option>Moderate NPDR</option>
                                    <option>Severe NPDR</option>
                                    <option>Very severe NPDR</option>
                                    <option>PDR without HRC</option>
                                    <option>PDR with HRC</option>
                                </select>
                            </div>
                        </div>

                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                            <div>
                                <label class="block text-sm font-semibold mb-2">ME Left Eye:</label>
                                <select class="w-full px-3 py-2 border rounded-md" name="mel">
                                    <option>No Macular Edema</option>
                                    <option>Center involving</option>
                                    <option>Non Center involving</option>
                                    <option>Other</option>
                                </select>
                            </div>
                            <div>
                                <label class="block text-sm font-semibold mb-2">ME Right Eye:</label>
                                <select class="w-full px-3 py-2 border rounded-md" name="mer">
                                    <option>No Macular Edema</option>
                                    <option>Center involving</option>
                                    <option>Non Center involving</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>

                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                            <div>
                                <label class="block text-sm font-semibold mb-2">OCT Left Eye:</label>
                                <input class="w-full px-3 py-2 border rounded-md" placeholder="Enter OCT" type="text"
                                    name="octl" />
                            </div>
                            <div>
                                <label class="block text-sm font-semibold mb-2">OCT Right Eye:</label>
                                <input class="w-full px-3 py-2 border rounded-md" placeholder="Enter OCT" type="text"
                                    name="octr" />
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Treatment & Advice -->
                <div class="bg-white rounded-lg shadow p-4 space-y-4 overflow-y-auto">
                    <h2 class="text-2xl font-bold text-gray-800">Treatment & Advice</h2>



                    <div>
                        <label class="block text-sm font-semibold mb-2">Treatment Advice:</label>
                        <div class="space-y-2">
                            <label class="flex items-center">
                                <input type="checkbox" name="advice" value="Continue same treatment" class="mr-2" onchange="toggleTextInput('advice1', this)" />
                                Continue same treatment
                            </label>
                            <div id="advice1" class="hidden ml-6">
                                <input type="text"  class="w-full px-3 py-2 border rounded-md" placeholder="Please specify" name="continue_advspec"/>
                            </div>
                
                            <label class="flex items-center">
                                <input type="checkbox" name="advice" value="Start new medications" class="mr-2" onchange="toggleTextInput('advice2', this)" />
                                Start new medications
                            </label>
                            <div id="advice2" class="hidden ml-6">
                                <input type="text"  class="w-full px-3 py-2 border rounded-md" placeholder="Please specify" name="medication_advspec"/>
                            </div>
                
                            <label class="flex items-center">
                                <input type="checkbox" name="advice" value="PRP" class="mr-2" onchange="toggleTextInput('advice3', this)" />
                                PRP
                            </label>
                            <div id="advice3" class="hidden ml-6">
                                <input type="text"  class="w-full px-3 py-2 border rounded-md" placeholder="Please specify" name="prp_advspec"/>
                            </div>
                
                            <label class="flex items-center">
                                <input type="checkbox" name="advice" value="Intravitreal injection" class="mr-2" onchange="toggleTextInput('advice4', this)" />
                                Intravitreal injection
                            </label>
                            <div id="advice4" class="hidden ml-6">
                                <input type="text"  class="w-full px-3 py-2 border rounded-md" placeholder="Please specify" name="injection_advspec"/>
                            </div>
                
                            <label class="flex items-center">
                                <input type="checkbox" name="advice" value="Vitreoretinal Surgery" class="mr-2" onchange="toggleTextInput('advice5', this)" />
                                Vitreoretinal Surgery
                            </label>
                            <div id="advice5" class="hidden ml-6">
                                <input type="text"  class="w-full px-3 py-2 border rounded-md" placeholder="Please specify" name="surgery_advspec"/>
                        </div>
                    </div>
                    <!-- Questionaire -->
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                        <div>
                            <label class="block text-sm font-semibold mb-2">Did you know about consequences/adverse
                                events when having diabetis mellitus</label>
                            <div class="flex gap-4">
                                <label class="inline-flex items-center">
                                    <input type="radio" name="quen1" value="Yes" class="mr-2" checked />
                                    Yes
                                </label>
                                <label class="inline-flex items-center">
                                    <input type="radio" name="quen1" value="No" class="mr-2" />
                                    No
                                </label>
                            </div>
                        </div>

                        <div>
                            <label class="block text-sm font-semibold mb-2">Who motivate you to visit for DR screening
                            </label>
                            <select class="w-full px-3 py-2 border rounded-md" name="quen2"
                                onchange='checkvalue(this.value)'>
                                <option value="Visited for eye check up">Visited for eye check up</option>
                                <option value="Physician">Physician</option>
                                <option value="Self motivated">Self motivated</option>
                                <option value="Family Member">Family Member</option>
                                <option value="Through Social media">Through Social media</option>
                                <option value="Awareness lecture/program">Awareness lecture/program</option>
                                <option value="Others">Others</option>
                            </select>
                            <input type="text" name="other_reason"
                                class="hidden mt-4 w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                                id="quen2" style="display: none;" placeholder="Please specify" />
                        </div>

                    </div>
                    <div>
                        <label class="block text-sm font-semibold mb-2">Follow-up Date:</label>
                        <input class="w-full px-3 py-2 border rounded-md" type="date" name="fllwp" />
                    </div>

                    <button type="submit"
                        class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 transition-colors duration-200">
                        Submit
                    </button>

                </div>
            </div>
        
        </form>
    </div>
    <script>
      function toggleInputs(inputDivId, checkbox) {
        var inputDiv = document.getElementById(inputDivId);
        var dateInput = inputDiv.querySelector("input[type='date']");
        var textInput = inputDiv.querySelector("input[type='text']");

        if (checkbox.checked) {
            inputDiv.classList.remove("hidden"); // Show inputs
            dateInput.required = false; // Make date input required
        } else {
            inputDiv.classList.add("hidden"); // Hide inputs
            dateInput.value = ""; // Clear date input
            textInput.value = ""; // Clear text input
            dateInput.required = false; // Remove required attribute
        }
    }

    function toggleTextInput(inputId, checkbox) {
    var inputDiv = document.getElementById(inputId);
    var inputField = inputDiv.querySelector("input[type='text']");

    if (checkbox.checked) {
        inputDiv.classList.remove("hidden"); // Show text input
        inputField.required = false; // Make input required
    } else {
        inputDiv.classList.add("hidden"); // Hide text input
        inputField.value = ""; // Clear input when checkbox is unchecked
        inputField.required = false; // Remove required attribute
    }
}

        //Text function
    function checkvalue(val) {
            if (val === "Others")
                document.getElementById('quen2').style.display = 'block';
            else
                document.getElementById('quen2').style.display = 'none';
    }
    </script>
</body>

</html>