<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optho-App</title>

    <link rel="stylesheet" href="styles/addPat.css">
</head>

<body>
    <div class="wrapper">
        <!-- <h6>Add Patients</h6> -->
        <form action="/addPat" method="post">
            <div class="hstry">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required autofocus placeholder="Patient Name">

                <label for="reg">Registration Number:</label>
                <input type="text" id="reg" name="registration_number" required placeholder="Registration Number"
                    value="<%= reg%>">

                <div class="oha">
                    <p>
                        <label for="age">Age:</label>
                        <input type="text" id="age" name="age" placeholder="Age">
                    </p>

                    <div class="none">
                        <p>
                            <label>Sex:</label>
                        <p>
                            <label for="male">M</label>
                            <input type="radio" id="male" name="sex" value="male" checked>

                            <label for="female">F</label>
                            <input type="radio" id="female" name="sex" value="female">
                        </p>
                        </p>
                    </div>
                </div>

                <label for="contact">Contact:</label>
                <input type="text" id="contact" name="contact_number" placeholder="Contact Number">

                <div class="oha">
                    <p>
                        <label for="beneficiary">Beneficiary:</label>
                        <select id="beneficiary" name="beneficiary">
                            <option value="self" selected>Employee</option>
                            <option value="family">Retired Employee</option>
                            <option value="other">Family</option>
                        </select>
                    </p>

                    <p>
                        <label for="diabetes_type">Type of Diabetes:</label>
                        <select id="diabetes_type" name="diabetes_type">
                            <option value="type1" selected>Type 1</option>
                            <option value="type2">Type 2</option>
                            <option value="mody">MODY</option>
                        </select>
                    </p>
                </div>

                <div class="oha">
                    <p>
                        <label for="diabetes_duration"> Diabetes Duration:</label>
                        <select id="diabetes_duration" name="diabetes_duration">
                            <option value="type1" selected>Newly diagnosed(1year) </option>
                            <option value="type2">Less than 5 years</option>
                            <option value="mody">Between 5 years and 10 years</option>
                            <option value="mody">More than 10 years</option>
                        </select>
                    </p>
                    <div class="none">
                        <p>
                            <label>Insulin: </label>
                        <p>
                            <label for="yes_insulin">Yes</label>
                            <input type="radio" id="yes_insulin" name="insulin" value="yes">
                            <label for="no_insulin">No</label>
                            <input type="radio" id="no_insulin" name="insulin" value="no" checked>
                        </p>
                        </p>
                    </div>
                </div>
                <div class="oha">
                    <p><label for="OHA_count">No. of OHA:</label>
                        <input type="text" id="OHA_count" name="OHA_count" placeholder="No. of OHA">
                    </p>

                    <p>
                        <label for="HBA1c">HbA1c (%):</label>
                        <input type="text" id="HBA1c" name="HBA1c" placeholder="HBA1c">
                    </p>
                </div>


                <div class="obtn">
                    <label>Treatment Obtained:</label>
                    <p>
                    <p>
                        <input type="checkbox" id="none" name="treatment[]" value="none">
                        <label for="none">None</label>
                    </p>
                    <p>
                        <input type="checkbox" id="Intravitreal injection" name="treatment[]"
                            value="Intravitreal injection">
                        <label for="Intravitreal injection">Intravitreal injection</label>
                    </p>
                    <p>
                        <input type="checkbox" id="PRP" name="treatment[]" value="PRP">
                        <label for="PRP">PRP</label>
                    </p>
                    <p>
                        <input type="checkbox" id="Retinal surgery" name="treatment[]" value="Retinal surgery">
                        <label for="Retinal surgery">Retinal surgery</label>
                    </p>
                    </p>
                </div>
            </div>
            <div class="oclr">
                
            </div>
            <div class="fnds"></div>
            <div class="adv"></div>
        </form>
    </div>
</body>

</html>