<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Optho-App</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="">
    <div id="header">
        <header class="d-flex flex-wrap justify-content-center mb-4 border-dark-subtle border-bottom">
            <a href="/"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">Optho~app</span>
            </a>

            <ul class="nav nav-pills align-items-center tex">
                <li class="nav-item"><a href="../addPat" class="nav-link active" aria-current="page">ADD</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            </ul>
        </header>
        <form action="/addPat" method="post">
            <div class="container bg-cyan-100">
                <div class="border border-black p-4">
                    <div class="mb-4">
                        <div class="flex justify-between">
                            <div>Name: <input type="text"
                                    class="border-b border-black focus:outline-none bg-white text-dark" name="name">
                            </div>
                            <div>Registration No. <input type="text"
                                    class="border-b border-black focus:outline-none bg-white text-dark"
                                    name="registration_no"></div>
                        </div>
                        <div class="flex justify-between mt-2">
                            <div>Age / Sex: <input type="text"
                                    class="w-12 border-b border-black focus:outline-none bg-white text-dark"
                                    name="age_gender"> Yrs, M
                                / F
                            </div>
                            <div>Contact No: <input type="text"
                                    class="border-b border-black focus:outline-none bg-white text-dark" name="contact">
                            </div>
                        </div>
                        <div class="mt-2">Type of Diabetes:
                            <select class="border-b border-black focus:outline-none " name="type">
                                <option selected>Type I</option>
                                <option>Type II</option>
                                <option>MODY</option>
                            </select>
                        </div>
                        <div class="flex justify-between mt-2">
                            <div>Insulin:
                                <select class="border-b border-black focus:outline-none" name="insulin">
                                    <option selected>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                            <div>No. of OHA(Oral Hypoglycemic): <input type="text"
                                    class="w-12 border-b border-black focus:outline-none bg-white text-dark"
                                    name="oha_count"></div>
                            <div>HBA1c: <input type="text"
                                    class="w-12 border-b border-black focus:outline-none bg-white text-dark"
                                    name="HBA1c">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <div class="border border-black p-2 bg-info text-dark">Ocular examination</div>
                    <div class="border border-black p-4">
                        <table class="w-full border-collapse border border-black">
                            <thead>
                                <tr>
                                    <th class="border border-black p-2"></th>
                                    <th class="border border-black p-2">Right Eye</th>
                                    <th class="border border-black p-2">Left Eye</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="border border-black p-2">Visual Acuity (BCVA)</td>
                                    <td class="border border-black p-2"><input type="text"
                                            class="w-full border-b border-black focus:outline-none bg-white text-dark"
                                            name="bcva_right"></td>
                                    <td class="border border-black p-2"><input type="text"
                                            class="w-full border-b border-black focus:outline-none bg-white text-dark"
                                            name="bcva_left"></td>
                                </tr>
                                <tr>
                                    <td class="border border-black p-2">IOP (mmHg)</td>
                                    <td class="border border-black p-2"><input type="text"
                                            class="w-full border-b border-black focus:outline-none bg-white text-dark"
                                            name="iop_right"></td>
                                    <td class="border border-black p-2"><input type="text"
                                            class="w-full border-b border-black focus:outline-none bg-white text-dark"
                                            name="iop_left"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="mt-4">
                    <div class="border border-black p-2 bg-info text-dark">Fundus examination</div>
                    <div class="border border-black p-4">
                        <table class="w-full border-collapse border border-black">
                            <thead>
                                <tr>
                                    <th class="border border-black p-2">Diagnosis</th>
                                    <th class="border border-black p-2">DR (ETDRS grade)</th>
                                    <th class="border border-black p-2">Macular Edema (Yes/No)</th>
                                    <th class="border border-black p-2">OCT finding (CMT in Microns)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="border border-black p-2">Right Eye</td>
                                    <td class="border border-black p-2"><input type="text"
                                            class="w-full border-b border-black focus:outline-none bg-white text-dark"
                                            name="dr_right"></td>
                                    <td class="border border-black p-2"><input type="text"
                                            class="w-full border-b border-black focus:outline-none bg-white text-dark"
                                            name="macular_edema_right"></td>
                                    <td class="border border-black p-2"><input type="text"
                                            class="w-full border-b border-black focus:outline-none bg-white text-dark"
                                            name="oct_finding_right"></td>
                                </tr>
                                <tr>
                                    <td class="border border-black p-2">Left Eye</td>
                                    <td class="border border-black p-2"><input type="text"
                                            class="w-full border-b border-black focus:outline-none bg-white text-dark"
                                            name="dr_left"></td>
                                    <td class="border border-black p-2"><input type="text"
                                            class="w-full border-b border-black focus:outline-none bg-white text-dark"
                                            name="macular_edema_left"></td>
                                    <td class="border border-black p-2"><input type="text"
                                            class="w-full border-b border-black focus:outline-none bg-white text-dark"
                                            name="oct_finding_left"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="mt-4">
                    <div class="border border-black p-2 bg-info text-dark">Treatment Advice</div>
                    <div class="border border-black p-4">
                        <div>RE : <input type="text"
                                class="w-full border-b border-black focus:outline-none bg-white text-dark"
                                name="right_eye_advice">
                        </div>
                        <div class="mt-2">LE : <input type="text"
                                class="w-full border-b border-black focus:outline-none bg-white text-dark"
                                name="left_eye_advice">
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <div class="border border-black p-2 bg-info text-dark">Follow Up</div>
                    <div class="form-floating m-2">
                        <textarea name="follow_up" class="form-control bg-white text-dark"
                            placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Comments</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary align-center">Submit</button>
        </form>

    </div>
</body>

</html>