<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optho-App</title>

    <link rel="stylesheet" href="styles/addPat.css">
</head>

<body>
    <div class="wrapper">
        <!-- <h6>Add Patients</h6> -->
        <form action="/addPat" method="post">
            <div class="hstry">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required autofocus placeholder="Patient Name">

                <label for="reg">Registration Number:</label>
                <input type="text" id="reg" name="registration_number" required placeholder="Registration Number"
                    value="<%= reg%>">

                <div class="oha">
                    <p>
                        <label for="age">Age:</label>
                        <input type="text" id="age" name="age" placeholder="Age">
                    </p>

                    <div class="none">
                        <p>
                            <label>Sex:</label>
                        <p>
                            <label for="male">M</label>
                            <input type="radio" id="male" name="sex" value="male" checked>

                            <label for="female">F</label>
                            <input type="radio" id="female" name="sex" value="female">
                        </p>
                        </p>
                    </div>
                </div>

                <label for="contact">Contact:</label>
                <input type="text" id="contact" name="contact_number" placeholder="Contact Number">

                <div class="oha">
                    <p>
                        <label for="beneficiary">Beneficiary:</label>
                        <select id="beneficiary" name="beneficiary">
                            <option value="self" selected>Employee</option>
                            <option value="family">Retired Employee</option>
                            <option value="other">Family</option>
                        </select>
                    </p>

                    <p>
                        <label for="diabetes_type">Type of Diabetes:</label>
                        <select id="diabetes_type" name="diabetes_type">
                            <option value="type1" selected>Type 1</option>
                            <option value="type2">Type 2</option>
                            <option value="mody">MODY</option>
                        </select>
                    </p>
                </div>

                <div class="oha">
                    <p>
                        <label for="diabetes_duration"> Diabetes Duration:</label>
                        <select id="diabetes_duration" name="diabetes_duration">
                            <option value="type1" selected>Newly diagnosed(1year) </option>
                            <option value="type2">Less than 5 years</option>
                            <option value="mody">Between 5 years and 10 years</option>
                            <option value="mody">More than 10 years</option>
                        </select>
                    </p>
                    <div class="none">
                        <p>
                            <label>Insulin: </label>
                        <p>
                            <label for="yes_insulin">Yes</label>
                            <input type="radio" id="yes_insulin" name="insulin" value="yes">
                            <label for="no_insulin">No</label>
                            <input type="radio" id="no_insulin" name="insulin" value="no" checked>
                        </p>
                        </p>
                    </div>
                </div>
                <div class="oha">
                    <p><label for="OHA_count">No. of OHA:</label>
                        <input type="text" id="OHA_count" name="OHA_count" placeholder="No. of OHA">
                    </p>

                    <p>
                        <label for="HBA1c">HbA1c (%):</label>
                        <input type="text" id="HBA1c" name="HBA1c" placeholder="HBA1c">
                    </p>
                </div>


                <div class="obtn">
                    <label>Treatment Obtained:</label>
                    <p>
                    <p>
                        <input type="checkbox" id="none" name="treatment[]" value="none">
                        <label for="none">None</label>
                    </p>
                    <p>
                        <input type="checkbox" id="Intravitreal injection" name="treatment[]"
                            value="Intravitreal injection">
                        <label for="Intravitreal injection">Intravitreal injection</label>
                    </p>
                    <p>
                        <input type="checkbox" id="PRP" name="treatment[]" value="PRP">
                        <label for="PRP">PRP</label>
                    </p>
                    <p>
                        <input type="checkbox" id="Retinal surgery" name="treatment[]" value="Retinal surgery">
                        <label for="Retinal surgery">Retinal surgery</label>
                    </p>
                    </p>
                </div>
            </div>
            <div class="oclr">
                <!-- <h3>Visual Acuity</h3> -->
                <label for="BCVA_right">BCVA Right Eye:</label>
                <select id="BCVA_right" name="BCVA_right">
                    <option value="6/6">6/6</option>
                    <option value="6/9">6/9</option>
                    <option value="6/12">6/12</option>
                    <option value="6/18">6/18</option>
                    <option value="6/24">6/24</option>
                    <option value="6/36">6/36</option>
                    <option value="6/60">6/60</option>
                    <option value="5/60">5/60</option>
                    <option value="4/60">4/60</option>
                    <option value="3/60">3/60</option>
                    <option value="2/60">2/60</option>
                    <option value="1/60">1/60</option>
                    <option value="PL+">PL+</option>
                    <option value="PL-">PL-</option>
                </select>

                <label for="BCVA_left">BCVA Left Eye:</label>
                <select id="BCVA_left" name="BCVA_left">
                    <option value="6/6">6/6</option>
                    <option value="6/9">6/9</option>
                    <option value="6/12">6/12</option>
                    <option value="6/18">6/18</option>
                    <option value="6/24">6/24</option>
                    <option value="6/36">6/36</option>
                    <option value="6/60">6/60</option>
                    <option value="5/60">5/60</option>
                    <option value="4/60">4/60</option>
                    <option value="3/60">3/60</option>
                    <option value="2/60">2/60</option>
                    <option value="1/60">1/60</option>
                    <option value="PL+">PL+</option>
                    <option value="PL-">PL-</option>
                </select>

                <label for="IOP_right">IOP Right Eye (mmHg):</label>
                <input type="text" id="IOP_right" name="IOP_right" placeholder="Enter IOP">

                <label for="IOP_left">IOP Left Eye (mmHg):</label>
                <input type="text" id="IOP_left" name="IOP_left" placeholder="Enter IOP">

            </div>
            <div class="fnds">
                <label for="dr-right">DR Right Eye:</label>
                <select id="dr-right" name="dr-right">
                    <option value="No DR at present">No DR at present</option>
                    <option value="Mild NPDR">Mild NPDR</option>
                    <option value="Moderate NPDR">Moderate NPDR</option>
                    <option value="Severe NPDR">Severe NPDR</option>
                    <option value="Very severe NPDR">Very severe NPDR</option>
                    <option value="PDR without HRC">PDR without HRC</option>
                    <option value="PDR with HRC">PDR with HRC</option>
                </select>
                <br><br>

                <!-- DR Left Eye -->
                <label for="dr-left">DR Left Eye:</label>
                <select id="dr-left" name="dr-left">
                    <option value="No DR at present">No DR at present</option>
                    <option value="Mild NPDR">Mild NPDR</option>
                    <option value="Moderate NPDR">Moderate NPDR</option>
                    <option value="Severe NPDR">Severe NPDR</option>
                    <option value="Very severe NPDR">Very severe NPDR</option>
                    <option value="PDR without HRC">PDR without HRC</option>
                    <option value="PDR with HRC">PDR with HRC</option>
                </select>
                <br><br>

                <!-- Macular Edema Right Eye -->
                <label for="macular-edema-right">Macular Edema Right Eye:</label>
                <select id="macular-edema-right" name="macular-edema-right">
                    <option value="Center involving">Center involving</option>
                    <option value="Non Center involving">Non Center involving</option>
                    <option value="Other (like cataract)">Other (like cataract)</option>
                </select>
                <br><br>

                <!-- Macular Edema Left Eye -->
                <label for="macular-edema-left">Macular Edema Left Eye:</label>
                <select id="macular-edema-left" name="macular-edema-left">
                    <option value="Center involving">Center involving</option>
                    <option value="Non Center involving">Non Center involving</option>
                    <option value="Other (like cataract)">Other (like cataract)</option>
                </select>
                <br><br>

                <!-- OCT Right Eye -->
                <label for="oct-right">OCT Right Eye:</label>
                <input type="text" id="oct-right" name="oct-right" placeholder="Enter OCT value">
                <br><br>

                <!-- OCT Left Eye -->
                <label for="oct-left">OCT Left Eye:</label>
                <input type="text" id="oct-left" name="oct-left" placeholder="Enter OCT value">
                <br><br>
            </div>
            <div class="adv">

                <label for="">Advice</label>

                <p>
                    <!-- Checkbox for Follow up, continue same treatment -->
                <p>
                    <label>
                        <input type="checkbox" name="advice" value="Follow up, continue same treatment">
                        Follow up, continue same treatment
                    </label>

                </p>

                <!-- Checkbox for Follow up, start on new medications advised -->
                <p>
                    <label>
                        <input type="checkbox" name="advice" value="Follow up, start on new medications advised">
                        Follow up, start on new medications advised
                    </label>

                </p>

                <!-- Checkbox for PRP -->
                <p>
                    <label>
                        <input type="checkbox" name="advice" value="PRP">
                        PRP
                    </label>
                </p>


                <!-- Checkbox for Intravitreal injection -->
                <p>
                    <label>
                        <input type="checkbox" name="advice" value="Intravitreal injection">
                        Intravitreal injection
                    </label>
                </p>


                <!-- Checkbox for Vitreoretinal Surgery -->
                <p>
                    <label>
                        <input type="checkbox" name="advice" value="Vitreoretinal Surgery">
                        Vitreoretinal Surgery
                    </label>
                </p>

                </p>

                <!-- Follow-Up Date Input -->
                <label for="follow-up-date">Follow-up Date:</label>
                <input type="date" id="follow-up-date" name="follow-up-date">

                <br><br>

                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>