* {
    padding: 0;
    margin: 0;

}

body {

    width: 100%;
    background: linear-gradient(to bottom, #2A6B9B, #00A8E0, #A1E3D5, #B0E0E6);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

#header>div {
    width: auto;
    margin: 0 50px;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.2);
    /* background: linear-gradient(to right, #2A6B9B,rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2),#2A6B9B); */

    backdrop-filter: blur(20px);
}

#header span {
    padding: 0px 0px;
    color: white;

    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem !important;
    transition: transform 200ms ease-in-out, filter 150ms ease-in-out;
}

#header span:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0 20px rgb(185, 243, 253));
}

#header .form-control {
    height: 100%;
    /* margin: 0 10px; */
    /* padding: 5px !important; */
}

.btn-outline-secondary a {
    /* color: !important; */
    transition: color 200ms ease-in;
}

.btn-outline-secondary:hover a {
    color: black !important;
}

.contpat {
    /* padding: 0%; */
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;

    width: 100% !important;
    margin: 0 50px !important;
    /* justify-content: space-between; */
}

#home {
    /* margin-top: 2rem; */
    width: 100%;
    /* background-color: #fff; */
    height: fit-content;
    overflow: auto;
}

#home>.container {
    width: 100%;
    height: 95%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(129, 124, 124, 0.2));

    border-radius: 20px;
    border: 1px solid white;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px, rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 93% !important;
    }
}

.patients {
    width: 24%;
    height: max-content;

    margin: 20px 5px 0px 5px;
    padding: 10px;

    background-color: rgba(255, 255, 255, 0.5);
    border: 1px white solid;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px, rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
    color: black !important;
    font-weight: 600 !important;
    cursor: pointer;
    overflow: hidden;
    animation: appear linear;
    animation-timeline: view();
    /* animation-range: entry 0; */

    transition: transform 200ms ease-in-out, box-shadow 500ms ease, background-color 200ms ease-in-out;
}

.patients:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    /* font-weight:600!important; */

}

@keyframes appear {
    from {
        scale: 0.5;
        opacity: 0;
    }

    to {
        scale: 1;
        opacity: 1;
    }
}

.patients a {
    color: black !important;
    text-decoration: none;
}

.btn-danger {
    color: rgba(255, 0, 0, 0.75) !important;
    font-weight: bold;
    background-color: rgba(216, 112, 147, 0.582) !important;
    backdrop-filter: blur(10px);
    transition: color 100ms ease-in-out !important, background-color 100ms ease-in-out !important;
}

.btn-danger:hover {
    color: white !important;
    background-color: #DC143C !important;
}



.btn-primary {
    color: rgba(0, 0, 255, 0.75) !important;
    font-weight: bold;
    background-color: rgba(13, 110, 253, 0.2) !important;
    backdrop-filter: blur(10px);
}

.btn-primary:hover {
    color: white !important;
    background-color: #007BFF !important;
}

.opr-btn {
    height: 100%;
    background-color: cyan;
}

#header input {
    height: 30px;
    color: white !important;
    background-color: rgba(225, 225, 225, 0.3);
    border: 1px solid rgb(225, 225, 225) !important;
    border-radius: 7px;
}

#header input::placeholder {

    color: white !important;
}